<template>
  <div>
    <div style="margin-left: 30px; margin-top: 30px">
      <v-btn x-large @click="getSearchId">
        Get Search Id
      </v-btn>
    </div>
    <div>
      <div style="margin-left: 30px; margin-top: 10px; display: inline-block">
        <v-input>
          Search ID:
        </v-input>
      </div>
      <div style="margin-left: 30px; margin-top: 10px; display: inline-block">
        <v-text-field v-model="searchId">
          {{searchId}}
        </v-text-field>
      </div>
    </div>
    <div>
      <div style="margin-left: 30px; margin-top: 10px; display: inline-block">
        <v-input>
          Currency:
        </v-input>
      </div>
      <div style="margin-left: 35px; margin-top: 10px; display: inline-block">
        <v-text-field v-model="currency">
          {{currency}}
        </v-text-field>
      </div>
    </div>
    <div style="margin-left: 30px; margin-top: 30px">
      <v-btn x-large @click="getFlights" :loading="this.loading">
        Get Flights
      </v-btn>
    </div>
    <div>
      <div style="margin-left: 30px; margin-top: 10px; display: inline-block">
        <v-input>
          Status:
        </v-input>
      </div>
      <div style="margin-left: 35px; margin-top: 10px; display: inline-block">
        <v-input>
          {{status}}
        </v-input>
      </div>
    </div>
    <div style="margin-top: 10px">
      <v-card v-for="i in items" key="i" style="margin-left: 30px;  border: 1px solid #868181; width: auto; margin-right: 30px">
        <div v-for="(value, name) in i.pricing" key="k" style="display: inline-block;">
          <div style="margin-top: 10px; margin-left: 5px">
            <v-input style="color: cornflowerblue; font-size: 20px">
              {{ name }}: {{ value }}
            </v-input>
          </div>
        </div>
        <div v-for="(value, name) in i.flight" key="k" style="display: inline-block;">
          <div style="margin-top: 10px; margin-left: 5px">
            <v-input>
              {{ name }}: {{ value }}
            </v-input>
          </div>
        </div>

      </v-card>
    </div>
  </div>
</template>

<script>
import axios from "axios"

export default {
  data: () => ({
    data: [],
    searchId: '',
    currency: '',
    status: '',
    items: [],
    pricing: {},
    flight: [],
    loading: false,
  }),

  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    getSearchId() {
      axios.post('http://localhost:9000/search')
          .then((response) => {
            this.searchId = response.data.search_id
          });
    },
    getFlights() {
      this.loading = true
      axios.get(`http://localhost:9000/results/${this.searchId}/${this.currency}`)
          .then((response) => {
            this.status = response.data.status
            this.items = response.data.items
            this.loading = false
          });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
