<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Form</title>
</head>
<body>
<form method="post">
    <input type="submit" value="Get SEARCH ID">
</form>

<p>Search ID: {{ search_id }}</p>

<p>Result: {{ result }}</p>

</body>
</html>